*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;
    overflow:hidden;

    font-family:sans-serif;

    background:#222;
}

/* Safari対応 */
body{
    height:100dvh;
}

#game{

    width:100%;
    height:100%;

    display:flex;
    flex-direction:column;

    overflow:hidden;

    background:#fff;
}

/* ---------- スコア ---------- */

#score{

    position:absolute;

    top:4%;
    left:5%;

    z-index:100;

    color:white;

    font-size:8vw;

    font-weight:bold;

    text-shadow:
        3px 3px 0 #000,
       -3px 3px 0 #000,
        3px -3px 0 #000,
       -3px -3px 0 #000;
}
/* ---------- ゲーム ---------- */

#world{

    position:relative;

    flex:1;

    overflow:hidden;

    background:linear-gradient(
    #8fd3ff,
    #dff7ff);
}

/* ---------- 地面 ---------- */

#ground{

    position:absolute;

    bottom:0;

    width:100%;

    height:15%;

    background:#69b44a;

    border-top:.7vh solid #4b8b37;
}

/* ---------- プレイヤー ---------- */

#player{

    position:absolute;

    left:15%;

    bottom:15%;

    font-size:10vw;

    z-index:5;
}

/* ---------- 土管 ---------- */

.pipe{

    position:absolute;

    right:18%;

    bottom:15%;

    width:8%;

    height:22%;

    background:#35b34b;

    border:.6vw solid #1b6b2c;
}

/* ---------- 穴 ---------- */

.hole{

    position:absolute;

    left:45%;

    bottom:0;

    width:15%;

    height:15%;

    background:#222;
}

/* ---------- 雲 ---------- */

.cloud{

    position:absolute;

    font-size:9vw;
}

.cloud1{

    top:8%;
    left:12%;
}

.cloud2{

    top:18%;
    right:12%;
}

/* ---------- メッセージ ---------- */

#message{

    position:absolute;

    left:50%;
    top:45%;

    transform:translate(-50%,-50%);

    z-index:100;

    color:white;

    font-size:7vw;

    font-weight:bold;

    text-align:center;

    text-shadow:
        2px 2px 0 #000,
       -2px 2px 0 #000,
        2px -2px 0 #000,
       -2px -2px 0 #000;
}
